<VirtualHost *:80>
   ServerName {{ app_domain | mandatory }}
   RedirectMatch 301 ^(.*)$ http://{{ app_dest_domain | mandatory }}$1
</VirtualHost>

<IfModule mod_ssl.c>
   <VirtualHost *:443>
     ServerName {{ app_domain }}
     Redirect "/" "https://{{ app_dest_domain | mandatory }}/"
     SSLProxyEngine on

     <IfModule mod_headers.c>
          Header always set Strict-Transport-Security "max-age=15768000; preload"
     </IfModule>

     SSLEngine on
     SSLCertificateFile /etc/letsencrypt/live/{{ app_domain }}/fullchain.pem
     SSLCertificateKeyFile /etc/letsencrypt/live/{{ app_domain }}/privkey.pem

   </VirtualHost>
</IfModule>
