check process postgresql with pidfile /var/run/postgresql/{{ pg_version }}-main.pid
    group database
    start program = "/bin/systemctl start postgresql"
    stop  program = "/bin/systemctl stop postgresql"
    #if failed unixsocket /tmp/.s.PGSQL.5432 protocol pgsql then restart
    if failed host localhost port 5432 protocol pgsql then restart
    if 5 restarts within 5 cycles then timeout
