[Unit]
Description=The Rocket.Chat server {{ app_instance_id }}
After=network.target remote-fs.target nss-lookup.target mongod.target
# nginx.target
[Service]
ExecStart=/usr/local/bin/node {{ app_instance_root }}/main.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ app_instance_id }}
User={{ app_user }}
Group={{ app_user }}
Environment=MONGO_URL=mongodb://localhost:27017/{{ database_name }} ROOT_URL=https://{{ app_domain }}:{{ app_port }}/ PORT={{ app_port }} MONGO_OPLOG_URL=mongodb://localhost:27017/local?replSet=rs01

[Install]
WantedBy=multi-user.target

