check program {{ app_service }} with path "/bin/systemctl is-active {{ app_service }}"
if status != 0 for 3 cycles then restart
    restart program = "/bin/systemctl restart {{ app_service }}"
    if 5 restarts within 5 cycles then timeout
