<?php
$site_url = 'https://{{ app_domain }}';

function setSendingParams($mail) {
  $mail->Mailer   = '{{ mail_protocol | default() }}';
  $mail->SMTPSecure = '{{ mail_secure | default() }}';
  $mail->Host     = '{{ mail_host | default() }}';
  $mail->SMTPAuth = {{ mail_auth | default() }};
  $mail->Username = '{{ mail_username | default() }}';
  $mail->Password = '{{ mail_password | default() }}';
}
