#!/bin/bash

# Copy certificates files from letsencrypt source to {{ base_prod_options }}/mumble after renew of {{ mumble_domain }}

cp "/etc/letsencrypt/live/{{ mumble_domain }}/privkey.pem" "{{ base_prod_options }}/mumble/privkey.pem"
chmod 0744 "{{ base_prod_options }}/mumble/privkey.pem"

cp "/etc/letsencrypt/live/{{ mumble_domain }}/fullchain.pem" "{{ base_prod_options }}/mumble/fullchain.pem"
chmod 0744 "{{ base_prod_options }}/mumble/fullchain.pem"


