# Note: the spaces around the equal sign ('=') are optional.
when = everyday at {{ backup_app_service_conf_time | mandatory }}

cd {{ backup_prod_dir }}/{{ app_instance_id }}
rm {{ backup_prod_dir }}/{{ app_instance_id }}/{{ database_docker_name }}.sql
chmod 777 {{ backup_prod_dir }}/{{ app_instance_id }}
/usr/bin/docker run --rm --link {{ database_docker_name }}:db --net {{ database_docker_network }} -v {{ backup_prod_dir }}/{{ app_instance_id }}:/backup -e PGPASSWORD={{ database_password }} {{ postgres_docker_image }} pg_dumpall -h db -U postgres -f /backup/{{ database_docker_name }}_all.sql

rc=$?; if [[ $rc != 0 ]]; then fatal "sql" ; fi