# Note: the spaces around the equal sign ('=') are optional.
when = everyday at {{ backup_app_service_conf_time | mandatory }}

mkdir {{ backup_prod_dir }}/wekan

snap stop wekan.wekan

version=$(snap list | grep wekan | awk -F ' ' '{print $3}')
/snap/wekan/$version/bin/mongodump --archive --port 27019 > {{ backup_prod_dir }}/wekan/wekan_database_$version.dump
rc=$?; if [[ $rc != 0 ]]; then fatal "mongodump" ; fi

snap start wekan.wekan
