<VirtualHost *:80>
   ServerName {{ app_domain | mandatory }}

   RewriteEngine On
   RewriteCond %{HTTPS} off
   RewriteRule ^(.*)$ https://%{HTTP_HOST}$1 [R=301,L]
</VirtualHost>

<IfModule mod_ssl.c>
   <VirtualHost *:443>

     ServerName {{ app_domain }}

     SetEnvIFNoCase User-Agent "Monit" dontlog
     CustomLog {{ www_log }}/{{ app_instance_id }}/access.log combined env=!dontlog
     ErrorLog {{ www_log }}/{{ app_instance_id }}/error.log

     SSLEngine on
     SSLCertificateFile /etc/letsencrypt/live/{{ app_domain }}/fullchain.pem
     SSLCertificateKeyFile /etc/letsencrypt/live/{{ app_domain }}/privkey.pem

     WSGIProcessGroup {{ app_instance_id }}
     WSGIDaemonProcess {{ app_instance_id }} user={{ app_user }} group={{ app_group }} python-home={{ app_instance_root }}/venv display-name=%{GROUP}
     WSGIScriptAlias / {{ app_wsgi_entry_point }}
     WSGICallableObject {{ app_wsgi_callable }}
     WSGIScriptReloading {{ app_wsgi_script_reloading}}
     WSGIPassAuthorization {{ app_wsgi_pass_authorization}}

     <Directory {{ app_instance_root }}/>
       AllowOverride All
       Require all granted
     </Directory>

     # Alias /static {{ app_instance_root }}/static
	 # <Directory {{ app_instance_root }}/static/>
     #  AllowOverride All
     #  Require all granted
	 # </Directory>

   </VirtualHost>
</IfModule>
