[{{ app_program }}:{{ log_type }}:{{ app_instance_id }}]

hostname = {{ ansible_hostname | mandatory }}
paquerette_name = {{ paquerette_name | mandatory }}
domain = {{ app_domain | default('None') }}
version = {{ app_version | default('None') }}
app_instance_id = {{ app_instance_id | mandatory }}
app_port = {{ app_port | default('None') }}

rev_proxy = {{ rev_proxy | default('None') }}
instance = {{ app_instance_root | default('None') }}
instance_www_root = {{ app_instance_www_root | default('None') }}
data = {{ app_data | default('None') }}

log_dest = {{ www_log | mandatory }}/{{ app_instance_id }}
backup_prod_app = {{ backup_prod_dir }}/{{ app_instance_id }}
backup_data = {{ backup_prod_dir }}/{{ app_data | default('None') }}

database_type = {{ database_type | default('None') }}
database_name = {{ database_name | default('None') }}
database_user = {{ database_user | default('None') }}
database_password = {{ database_password | default('None') }}

monit_request = {{ monit_request | default('None') }}
monit_expect = {{ monit_expect | default('None') }}
