[{{ app_program | mandatory }}:{{ log_type }}:{{ app_instance_id }}]

hostname = {{ ansible_hostname | mandatory }}
domain = {{ app_domain | default('None') }}
app_instance_id = {{ app_instance_id | mandatory }}

rev_proxy = {{ rev_proxy | default('None') }}
old_version = {{ app_old_version | default('None') }}
version = {{ app_version | default('None') }}
version_backup = {{ backup_version_dir }}/{{ app_instance_id }}/{{ app_old_version | default('None') }}

database_type = {{ database_type | default('None') }}
database_name = {{ database_name | default('None') }}

