# Note: the spaces around the equal sign ('=') are optional.
when = everyday at {{ backup_day_conf_time }}

export LANG=en_US.utf8

day_name=$(date "+%A")

tar -czf {{ backup_base_dir }}/prod.$day_name.tar.gz {{ backup_prod_dir }}
chown {{ backup_master_user }}:{{ backup_master_user }} {{ backup_base_dir }}/prod.$day_name.tar.gz
rc=$?; if [[ $rc != 0 ]]; then error "$day_name prod archive" ; fi

