<VirtualHost *:80>
   ServerName {{ app_domain | mandatory }}

   RewriteEngine On
   RewriteCond %{HTTPS} off
   RewriteRule ^(.*)$ https://%{HTTP_HOST}$1 [R=301,L]
</VirtualHost>

<IfModule mod_ssl.c>
   <VirtualHost *:443>

     ServerName {{ app_domain }}
     DocumentRoot {{ app_instance_root }}

     SetEnvIFNoCase User-Agent "Monit" dontlog
     CustomLog {{ www_log }}/{{ app_instance_id }}/access.log combined env=!dontlog
     ErrorLog {{ www_log }}/{{ app_instance_id }}/error.log

     RewriteEngine On
     RewriteRule /sites/(.*) https://{{ app_domain }}/index.php/apps/cms_pico/pico/$1 [QSA,L]
     SSLProxyEngine on

     <Directory {{ app_instance_root }}/>
       Options +FollowSymlinks
       AllowOverride All
       Require all granted

      <IfModule mod_dav.c>
        Dav off
      </IfModule>

       SetEnv HOME {{ app_instance_root }}
       SetEnv HTTP_HOME {{ app_instance_root }}
     </Directory>

     <IfModule mod_headers.c>
          Header always set Strict-Transport-Security "max-age=15768000; preload"
     </IfModule>

     SSLEngine on
     SSLCertificateFile /etc/letsencrypt/live/{{ app_domain }}/fullchain.pem
     SSLCertificateKeyFile /etc/letsencrypt/live/{{ app_domain }}/privkey.pem
     
     # Spreed WebRTC config
#     <Location /webrtc>
#          ProxyPass http://127.0.0.1:8080/webrtc
#          ProxyPassReverse /webrtc
#     </Location>
#     <Location /webrtc/ws>
#          ProxyPass ws://127.0.0.1:8080/webrtc/ws
#     </Location>
#          ProxyVia On
#          ProxyPreserveHost On
#          RequestHeader set X-Forwarded-Proto 'https' env=HTTPS
     </VirtualHost>
</IfModule>
