<VirtualHost *:80>
   ServerName {{ webrtc_domain }}

   RewriteEngine On
   RewriteCond %{HTTPS} off
   RewriteRule ^(.*)$ https://%{HTTP_HOST}$1 [R=301,L]
</VirtualHost>

<IfModule mod_ssl.c>
   <VirtualHost *:443>

     ServerName {{ webrtc_domain }}:443

     CustomLog {{ webrtc_http_log_dest }}/access.log combined
     ErrorLog {{ webrtc_http_log_dest }}/error.log

     <IfModule mod_headers.c>
          Header always set Strict-Transport-Security "max-age=15768000; preload"
     </IfModule>

     SSLEngine on
     SSLCertificateFile /etc/letsencrypt/live/{{ webrtc_domain }}/fullchain.pem
     SSLCertificateKeyFile /etc/letsencrypt/live/{{ webrtc_domain }}/privkey.pem


     <Location />
        ProxyPass http://localhost:{{ webrtc_port }}/
        ProxyPassReverse /
     </Location>

     <Location /ws>
        ProxyPass ws://localhost:{{ webrtc_port }}/ws
     </Location>

     ProxyVia On
     ProxyPreserveHost On
     RequestHeader set X-Forwarded-Proto 'https' env=HTTPS

   </VirtualHost>
</IfModule>
