server {
    listen 80;
    server_name {{ app_domain | mandatory }};
    # enforce https
    return 301 https://$server_name$request_uri;
}

server {
    listen 443 ssl http2;
    server_name {{ app_domain | mandatory }};

    ssl_certificate /etc/letsencrypt/live/{{ app_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ app_domain }}/privkey.pem;

    add_header X-Content-Type-Options nosniff;
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Robots-Tag none;
    add_header X-Download-Options noopen;
    add_header X-Permitted-Cross-Domain-Policies none;
    add_header Strict-Transport-Security "max-age=15768000";

    root {{ app_instance_www_root }}/;
    index  index.php index.html index.htm;

    access_log {{ www_log | mandatory }}/{{ app_instance_id }}/access.log;
    error_log {{ www_log | mandatory }}/{{ app_instance_id }}/error.log;

    location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }

    client_max_body_size 100M;

    location ~ ^/api/(?!(index\.php))(.*) {
          try_files $uri /api/index.php/$2?$query_string;
      }

    location ~ [^/]\.php(/|$) {
    include snippets/fastcgi-php.conf;
    if (!-f $document_root$fastcgi_script_name) {
        return 404;
    }
    fastcgi_pass           unix:/var/run/php/php{{ php_version }}-fpm.sock;
    fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
     }
 }